This document presents a structured explanation of **loops in Python**, intended for data science beginners.

## **Loop**
Loops are a fundamental control structure in Python that allow repetitive execution of a block of code until a specified condition is met.

Loops are commonly used for:

* Iterating over datasets

* Automating repetitive tasks

* Applying transformations to collections

* Controlling program flow

Python primarily supports two types of loops:

* for loop

* while loop

### For Loop:
The for loop is used to iterate over a sequence such as a list, tuple, string, or range.

In [37]:
for i in '1234':
  print (i)

1
2
3
4

In [38]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
for i in l:
  print (i+1)

2
3
4
5
6
7
8
9
10
11

In [40]:
l1 = []
for i in l:
  l1.append(i + 1)

In [41]:
l1

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
l2 = ['Cat', 'Dog', 'Rabbit', 'Pumpkin']

In [43]:
l3 = []
for i in l2:
  l3.append(i.upper())

In [44]:
l3

['CAT', 'DOG', 'RABBIT', 'PUMPKIN']

In [45]:
l4 = [0, 1-2j, 'Cat', 1.5, True, 'False', 7-9j, False, 1 ]

In [46]:
for i in l4:
  print(type(i))

<class 'int'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'int'>

In [47]:
integer = []
string = []
decimal = []
boolean = []
complexs = []
for i in l4:
  if type(i) == int:
    integer.append(i)
  elif type(i) == str:
    string.append(i)
  elif type(i) == float:
    decimal.append(i)
  elif type(i) == bool:
    boolean.append(i)
  else:
    complexs.append(i)

In [48]:
integer

[0, 1]

In [49]:
string

['Cat', 'False']

In [50]:
boolean

[True, False]

In [51]:
decimal

[1.5]

In [52]:
complexs

[(1-2j), (7-9j)]

In [53]:
for i in l4:
  print (i)
  break # exits loop
print ('abcd')

0
abcd

In [54]:
for i in l4:
  if i == 'False':
    continue # sends control to for loop immediately & it goes to starting loop gain
  print(i)

0
(1-2j)
Cat
1.5
True
(7-9j)
False
1

In [55]:
for i in l2:
  pass #used for testing

In [56]:
l5 = ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Chitwan']

In [57]:
#generator function: generates value
range(50)

range(0, 50)

In [58]:
list(range(5))

[0, 1, 2, 3, 4]

In [59]:
tuple(range(1,10)) # when given two values in range it takes x part as start and y as end, if there is a third number it jumps nth times as in slicing

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [60]:
tuple(range(0,12,2)) # same as slicing

(0, 2, 4, 6, 8, 10)

In [61]:
list (range(-20, -5, 1))

[-20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6]

In [62]:
l5

['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Chitwan']

In [63]:
for i in range(len(l5)):
  print(l5[i])

Kathmandu
Bhaktapur
Lalitpur
Chitwan

In [64]:
l6 = tuple(range(1,20))

In [65]:
l6

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [66]:
sum(l6)

190

In [67]:
result = 1
for i in l6:
  result = result + i

In [68]:
result

191

In [69]:
d = {
    'name': 'Shreya',
    'class': 'Datascience',
    'location': 'Nepal'
}

In [70]:
for i in d.items():
  print(i)

('name', 'Shreya')
('class', 'Datascience')
('location', 'Nepal')

### While Loop:
The while loop executes a block of code repeatedly as long as a given condition remains True.

In [71]:
a = 1
while a < 4:
  print (a)
  a = a + 1

1
2
3

In [72]:
n = int(input('Enter a number: '))
sum = 0
counter = 1
while counter <= n:
  sum = sum + counter
  counter = counter + 1
print(f'Total sum is {sum}')

Total sum is 1

In [73]:
number = int(input('Enter your number which is positive: '))
factorial = 1
while (number > 0):
  factorial = factorial * number
  number = number - 1
print(f'The factorial is {factorial }')

The factorial is 120

Fibonacci Series: States that the third number is the sum of the initial two numbers

In [74]:
num = int(input('Enter a number: '))
a,b = 0,1
counter = 0
while counter < num:
  print(a)
  c = a + b 
  a = b
  b = c
  counter += 1

0
1
1
2

In [75]:
range(10)

range(0, 10)

In [76]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [77]:
tuple(range(1,10,2))

(1, 3, 5, 7, 9)

In [78]:
a,b = 0,1
for i in range(10):
  print(a)
  c = a + b
  a = b
  b = c

0
1
1
2
3
5
8
13
21
34

In [79]:
location = input('Enter your location: ')
reversed_location = ''
length = len(location)
while length > 0:
    reversed_location += location[length - 1]
    length -= 1
reversed_location

'imihT rupayhdaM'

Print table of numbers

In [80]:
n = int(input('Enter a number: '))
i = 1
while(i<=10):
    result = n * i
    print(f'{n} x {i} = {result}')
    i +=  1

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [82]:
input1 = (int(input('Enter the number to find multiplication table: ')))
input2 = (int(input('Enter the range upto which you want to print the table: ')))
i = 1
while (i <= input2):
    result = input1 * i
    print(f'{input1} x {i} = {result}')
    i += 1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180

In [85]:
m = 5
i = 1
while (i < m):
    print(i)
    if i == 3:
        break #brings the control out of loop  
    i = i + 1
else:
    print('This is inside else block')

1
2
3

In [ ]:
m = 5
i = 1
while (i < m):
    print(i)
    i += 1 
else:
    print('This is inside else block')

1
2
3
4
This is inside else block

**Nested Loops**

A nested loop is a loop inside another loop. These are commonly used for working with multi-dimensional data

In [2]:
for i in range(3):
   for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1