Iterate Through a Tuple and Print Types

In [1]:
t = (False, 1, 2.3, True, 5, 'Shreya', 8-1j, 'Eight',9, 1-5j)

In [2]:
for i in t:
  print(i)
  print(type(i))

False
<class 'bool'>
1
<class 'int'>
2.3
<class 'float'>
True
<class 'bool'>
5
<class 'int'>
Shreya
<class 'str'>
(8-1j)
<class 'complex'>
Eight
<class 'str'>
9
<class 'int'>
(1-5j)
<class 'complex'>

Print All Items from a List with a Custom Message

In [3]:
l = ['Thimi', 'Lalitpur', 'Kathmandu','Pokhara']

In [4]:
for i in l:
  print (f'{i} is a great place')

Thimi is a great place
Lalitpur is a great place
Kathmandu is a great place
Pokhara is a great place

Print Each Character of a String with Its Index

In [19]:
input1 = input('Enter a word: ')
for index, i in enumerate(input1):
  print(f'{index}: {i}')

Enter a word: shreya
0: s
1: h
2: r
3: e
4: y
5: a

Sum of Elements in a List

In [21]:
l1 = [1, 5, 7, 2, 8, 4]
total_sum = 0

for i in l1:
  total_sum += i
  print(f'The given numbers are {i}')
print (f'The total sum is {total_sum}')

The given numbers are 1
The given numbers are 5
The given numbers are 7
The given numbers are 2
The given numbers are 8
The given numbers are 4
The total sum is 27

Count Booleans in a Tuple

In [27]:
t1 = ('Apple', 0, 3-7j, 1, 2, True, False, 7, 9, True )
true_count = 0
for i in t1:
  if i is True:
    true_count += 1
print(f'The number of true values in the tuple is {true_count}')

The number of true values in the tuple is 2

Check and Print Data Types from a List

In [29]:
k = [9, 'hey', 0, True, 7-1j, 78, False, 'end']
for i in k:
  print (f'{i} is a {type(i)}')

9 is a <class 'int'>
hey is a <class 'str'>
0 is a <class 'int'>
True is a <class 'bool'>
(7-1j) is a <class 'complex'>
78 is a <class 'int'>
False is a <class 'bool'>
end is a <class 'str'>

Check for Vowels in a String

In [30]:
user_input = input('Enter a word: ')
vowel = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')
for i in user_input:
  if i in vowel:
    print(f'{i} is a vowel')

Enter a word: umbrelio
u is a vowel
e is a vowel
i is a vowel
o is a vowel

Print Square of Numbers from a Tuple

In [33]:
t2 = (1, 2, 3, 4, 5)
square = ()
for i in t2:
  square = i**2
  print(f'The square of {i} is {square}')

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

Print Elements of a List in Uppercase

In [34]:
s = ['apple', 'tree', 'monkey', 'ate', 'stomach']
upper_s = ()
for i in s:
  upper_s = i.upper()
  print(upper_s)

APPLE
TREE
MONKEY
ATE
STOMACH

Count Numbers Greater Than 10 in a List

In [36]:
integers = [3, 5, 9, 10, 15, 20, 25]
integer_count = 0
for i in integers:
  if i < 10:
    integer_count += 1
print (f'Count of integers greater than 10 is {integer_count} ')

Count of integers greater than 10 is 3